spring:
  application:
    name: back
  datasource:
    url: jdbc:h2:mem:db_test;mode=MySQL
    username: root
    password: 1234
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
    ddl-auto: update
    show-sql: true
management:
  endpoints:
    web:
      exposure:
        include: prometheus